.Scoreboard {
  border: 5px solid black;
  margin: 5px;
  width: 75%;
}

.ScoreboardRow {
  border-top: 1px solid black;
}

.ScoreboardHeader {
  border-bottom: 3px solid black;
  font-weight: bold;
  font-size: 200%;
}

.RowData {
    display: inline-block;
    border-left: 1px solid black;
    width: 32%;
    padding: 5px;
    text-align: center;
}

.PlayerForm {
  display: flex;
  text-align: center;
  border: 3px solid black;
  padding: 5px;
}

.ScoreboardContainer {
  display: flex;
  justify-content: center;
}

.PlayerFormContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.FormTitle {
  text-decoration: underline;
}

input {
  width: 125px;
  float: right;
}
